@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Helvetica,
    Roboto,
    Helvetica Neue,
    CircularXX,
    Ubuntu,
    -apple-system,
    sans-serif;
  /* line-height: 1.6;
  font-size: 18px; */
}

body {
  color: var(--nextui-foreground);
  background: var(--nextui-background);
}

* {
  box-sizing: border-box;
}

a {
  /* color: #0070f3; */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.over-x {
  overflow-x: scroll;
}
.over-y {
  overflow-y: scroll;
}

.over-x::-webkit-scrollbar{
  height: 2px;
}

.over-y::-webkit-scrollbar{
  width: 2px;
}

.over-x::-webkit-scrollbar-track,
.over-y::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px transparent;
}

.over-x::-webkit-scrollbar-thumb,
.over-y::-webkit-scrollbar-thumb{
  outline: 1px solid #C4C4C4;
  background: #C4C4C4;
  border-radius: 8px;
}

/* ================ fullcalendar custom css =================*/
:root {
  --fc-today-bg-color: rgba(0, 217, 255, .3);
  /* --fc-today-bg-color: rgba(255, 197, 7, 0.3); */
  --fc-button-bg-color: #929296;
  --fc-button-border-color: rgb(212, 212, 216, .65);

  --fc-button-hover-bg-color: #262262;
  --fc-button-hover-border-color: #262262;

  --fc-button-active-bg-color: #262262;
  --fc-button-active-border-color: #262262;
  --fc-border-color: rgb(221, 221, 221, .4);
  
  --fc-event-bg-color: rgb(11, 148, 68, .3);
  --fc-event-border-color: rgb(11, 148, 68, .8);


  /*
  --fc-highlight-color: rgba(188, 232, 241, .3);
  --fc-today-bg-color: rgba(255, 220, 40, .15);
  --fc-button-bg-color: #2c3e50;
  --fc-button-border-color: #2c3e50;
  --fc-button-hover-bg-color: #1e2b37;
  --fc-button-hover-border-color: #1a252f;
  --fc-button-active-bg-color: #1a252f;
  --fc-button-active-border-color: #151e27;
  --fc-button-text-color: #fff;
  --fc-border-color: #ddd;
  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
    --fc-highlight-color:  rgba(188, 232, 241, .3);
  --fc-small-font-size: .85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: hsla(0, 0%, 82%, .3);
  --fc-neutral-text-color: grey;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, .25);
  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;
  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;
  --fc-non-business-color: hsla(0, 0%, 84%, .3);
  --fc-bg-event-color: #8fdf82;
  --fc-bg-event-opacity: 0.3;
  --fc-now-indicator-color: red;
  */
}

.fc .fc-toolbar {
  flex-wrap: wrap;
  row-gap: 16px;
  margin-bottom: 40px !important;
}

.fc-toolbar-title {
  font-size: var(--nextui-font-size-large) !important;
  font-weight: bolder !important;
  text-transform: capitalize !important;
}

.fc-col-header-cell-cushion {
  font-size: var(--nextui-font-size-medium) !important;
  font-weight: normal !important;
}

.fc-daygrid-day-number, .fc-daygrid-day-bottom {
  font-size:  var(--nextui-font-size-small) !important;
  font-weight: normal !important;
}

.fc .fc-button {
  padding: 6px 14px !important;
  border-radius: var(--nextui-radius-small) !important;
  /* background-color: var(--nextui-primary) !important; */
}

.fc .fc-button-group{
  column-gap: 10px !important;
}

.fc .fc-button:focus {
  box-shadow: none !important;
}

.fc-prev-button,
.fc-next-button {
  border: none !important;
  background-color: transparent !important;
  color: inherit !important;
}
