@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Helvetica,
    Roboto,
    Helvetica Neue,
    CircularXX,
    Ubuntu,
    -apple-system,
    sans-serif;
  /* line-height: 1.6;
  font-size: 18px; */
}

body {
  color: var(--nextui-foreground);
  background: var(--nextui-background);
}

* {
  box-sizing: border-box;
}

a {
  /* color: #0070f3; */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.over-x {
  overflow-x: scroll;
}
.over-y {
  overflow-y: scroll;
}

.over-x::-webkit-scrollbar{
  height: 2px;
}

.over-y::-webkit-scrollbar{
  width: 2px;
}

.over-x::-webkit-scrollbar-track,
.over-y::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px transparent;
}

.over-x::-webkit-scrollbar-thumb,
.over-y::-webkit-scrollbar-thumb{
  outline: 1px solid #C4C4C4;
  background: #C4C4C4;
  border-radius: 8px;
}